body{
  margin:0px;
  text-align:center;
}
.banner{
  background-color:#2c3e50;
  height:65px;
}

.footer{
  background-color:#2c3e50;
  height:100px;
  color:white;
}

#header{
  padding:10px 10px;
  font-size:40px;
}

.container-body{
  padding-top:65px;
}

.project-center img{
  margin:0 auto;
  float:left;
  width:50%;
}

.project-center{
  float:left;
}

.project-text{
  margin:0 auto;
  padding-top:15px;
}

.no-link{
  color:white !important;
}
.fa-fw{
  width:2px !important;
}
.nav-link{
  float:right;
  padding-left:20px;
}

@media screen and (min-width: 1024px) {
  .project-center img{
    width:100%;
    margin: 0 auto !important;
  }
  .project-text{
    display:inline-block;
  }
  .nav-link{
    float:right;
    padding-left:20px;
  }
  .fa-fw{
    width:10px !important;
  }

}
 

